// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.overlay {
    display: flex;
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 10000;

    .popup {
        margin: auto;
        padding: 2rem;
        background-color: #FFFFFF;
        border-radius: 1rem;
    }
}
.red {
    color: red;
}
.none {
    display: none;
}

.auth-color {
    background-color: #00ccbc;
}
.max-width {
    max-width: 100%;
}

#nav-deliveboo {
    background-color: #00ccbc;

}

// .img-height {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
// }

#restaurant-card{
    border: 1px solid #00ccbc;
    .celeste{
        background-color: #00ccbc;
    }
}

.border-backg {
    border: 1px solid #00ccbc;
}

.vh-height {
    height: 80vh;
}
